/* src/styles.scss */

body {
  font-family: 'Poppins', Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #2c6b34;
  background-color: #f6f8f4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-size: 40px;
}
